:root {
  color-scheme: light;
  font-family: 'Pretendard', 'Noto Sans KR', system-ui, sans-serif;
  line-height: 1.5;
  background-color: #f7f7f9;
  color: #10121a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f7f7f9;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
